.form-container
  .form-root
    .form-logo
      = image_tag 'sizung-sigin-logo.png'
    - if flash[:notice]
      .alert.notice= flash[:notice]
    - if flash[:alert]
      .alert= flash[:alert]

    .form-title
      Resend confirmation instructions
    = simple_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f|
      = f.error_notification
      = f.full_error :confirmation_token
      = f.input :email, autofocus: true, placeholder: 'name@email.com', label: 'Enter your email'
      = f.button :submit, 'Resend', class: 'form-button'
      = link_to 'Sign In', '/', class: 'form-signUpLink'
