= simple_form_for([@organization, @conversation]) do |f|
  = f.error_notification

  .form-inputs
    = f.input :title
    = f.input :organization_id, as: :hidden

  .form-actions
    = f.button :submit
