#js-conversation{data: {conversation_id: @conversation.id}}

%p
  %b Organization:
  = @conversation.organization
%p
  %b Conversation:
  = @conversation.title
= react_component('ConversationRoot', {currentUser: {id: current_user.id}, currentConversation: {id: @conversation.id}, agendaItems: [{id: 1, title: 'Review Agenda List', conversationTitle: 'React Tutorial', commentsSize: 4}, {id: 2, title: 'Update Trello Specifications', conversationTitle: 'Functional Specifications', commentsSize: 34}], comments: @comments_json}, {prerender: false} )

= link_to 'Edit', edit_conversation_path(@conversation)
\|
= link_to 'Back', @conversation.organization
