= "Hi #{@user.first_name}, "
%p
  = "#{@actor.name} mentioned you in \"#{@parent_title}\":"
%p
  %br
  = "\"#{@display_body}\""
  %br
  %br
%p
  = link_to 'Reply', @target_url
%br
%p
  Cheers,
  %br
  Sizbot
