= "Hi #{@user.first_name}, "

\
= "#{@actor.name} mentioned you in " + '\'' + @parent_title  + '\':'

\
= '\'' + @display_body + '\''
\

= 'Join the discussion here: '

= @target_url

\
Cheers,
Sizbot
