%p
  = "Hi #{@user.first_name}, "
%p
  = "#{@actor.name} mentioned you in #{@parent_title}:"
%p
  %br
  :markdown
    #{@display_body}
  %br
  %br
%p
  = link_to 'Reply', @target_url, class: 'actionLink'
%br
%p
