%p
  = "Hi #{@user.first_name_or_email},"

%p
  = "You've been invited to "
  %b
    = "\"#{@organization.name}\""
  = "by #{@inviter.name}."

- unless @user.confirmed?
  %p
    An account has already been created with this email address. 
    Please click here to confirm the email address:
  %p
    %br
    %br
    = link_to 'Confirm', confirmation_url(@user, confirmation_token: @user.generate_and_return_confirmation_token!)
  %br
  %br
%p
  Click on the link below to join #{@organization.name}.
%p
  %br
  %br
  = link_to 'Join', root_url

