%p
  = "Hi #{@user.first_name_or_email},"

%p
  = "You've been invited to \"#{@organization.name}\""
  = "by #{@inviter.first_name_or_email}."

%p
  Click on the link below to join the team.
%p
  %br
  %br
  = link_to 'Join team', root_url

