.form-container
  .form-root
    .form-logo
      = image_tag 'sizung-sigin-logo.png'
    - if flash[:notice]
      .alert.notice= flash[:notice]
    - if flash[:alert]
      .alert= flash[:alert]

    .form-title
      Forgot password?

    = simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
      = f.error_notification
      = f.input :email, autofocus: true, placeholder: 'name@email.com', label: 'Enter your email id'
      = f.button :submit, 'Send', class: 'form-button'

    = link_to "Sign in", new_session_path(resource_name), class: 'form-forgottenPasswordLink'
    = link_to 'Create a new team on Sizung', '/signup', class: 'form-signUpLink'
