= simple_form_for(@organization) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :mission
    = f.input :owner_id, as: :hidden

  .form-actions
    = f.button :submit
