%h1 Listing organizations

%table.table
  %thead
    %tr
      %th Name
      %th Owner
      %th

  %tbody
    - @organizations.each do |organization|
      %tr
        %td= link_to organization.name, organization
        %td= organization.owner
        %td
          - if policy(organization).edit?
            = link_to 'Edit', edit_organization_path(organization)
        %td
          - if policy(organization).destroy?
            = link_to 'Destroy', organization, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Organization', new_organization_path
