.form-container
  .form-root
    .form-logo
      = image_tag 'sizung-sigin-logo.png'
      
    .form-title
      New Organization
    = simple_form_for(@organization) do |f|
      = f.input :name, autofocus: true, label: 'Organization Name', required: false
      = f.button :submit, 'Create', class: 'form-button'
      = link_to "Cancel", root_path,  class: 'form-cancel-link', style: "margin-left: 10px;"

