= javascript_include_tag "jquery.touchSwipe.min.js"

%h3.conversation-index-header.hover-container
  = @organization
  .hover-display-inline
    %small
      = link_to edit_organization_path(@organization), class: 'organization-hover-action' do
        %i.fa.fa-pencil
        edit
      = link_to organization_organization_members_path(@organization), class: 'organization-hover-action' do
        %i.fa.fa-users
        members

- deliverables = []
.col-xs-12.col-sm-6#conversation-column
  %h4.conversation-index-header
    %i.fa.fa-comments
    Conversations

    .organization-action.pull-right.hidden-xs
      = link_to new_organization_conversation_path(@organization) do
        %i.fa.fa-plus
        Add Conversation

  %h5.conversation-index-header.row.visible-xs
    .col-xs-12
      .pull-left
        = link_to new_organization_conversation_path(@organization) do
          %i.fa.fa-plus
          Add Conversation
      .pull-right
        %a#deliverables-link
          %i.fa.fa-tasks
          deliverables
          %i.fa.fa-chevron-right


  - @conversations.each do |conversation|
    - deliverables = deliverables | conversation.deliverables
    .conversation
      .conversation-header
        = react_component('UnseenBadge', {count: conversation.unseen_objects.where(user: current_user).count, selected: false}, {prerender: true} )
        .conversation-title
          = link_to conversation.title, conversation, { data: { no_turbolink: true } }
        .conversation-actions
          = link_to edit_conversation_path(conversation) do
            %i.fa.fa-pencil
            edit
          = link_to conversation, method: :delete, data: { :confirm => 'Are you sure?' } do
            %i.fa.fa-trash-o
            delete
      .conversation-conversation-object
        - last_conversation_object = conversation.conversation_objects.first
        - if last_conversation_object
          .conversation-conversation-object-owner
            - user = last_conversation_object.owner
            = react_component('User', {user: {email: user.email, firstName: user.first_name, lastName: user.last_name}}, {prerender: true})
          .conversation-conversation-object-title
            = last_conversation_object.title
        - else
          .conversation-empty
            Jump right in and start the conversation.

- deliverables = deliverables.select(&:due_on).sort_by(&:due_on) + deliverables.reject(&:due_on)

.hidden-xs.col-sm-6#deliverable-column
  .row
    %h4.deliverable-index-header.col-xs-6.col-sm-12
      %i.fa.fa-tasks
      Deliverables

    %h5.col-xs-6.conversations-link.visible-xs
      .pull-right
        %a#conversations-link
          %i.fa.fa-chevron-left
          conversations
          %i.fa.fa-comments


  - deliverables.each do |deliverable|
    - if deliverable
      .deliverable.row
        .deliverable-header.col-xs-12
          .deliverable-due-date.pull-right
            - if ( deliverable.due_on )
              - if ( deliverable.due_on <= Time.new )
                %span.label.label-danger
                  = deliverable.due_on
              - else
                %span.label.label-info
                  = deliverable.due_on
            - else
              = deliverable.due_on
          .deliverable-title.pull-left
            = link_to deliverable.title, "/conversations/#{deliverable.conversation.id}/agenda_items/#{deliverable.agenda_item.id}/deliverables/#{deliverable.id}", { data: { no_turbolink: true } }

        .deliverable-object.col-xs-12
          .deliverable-assignee
            - user = deliverable.assignee
            = react_component('User', {user: {email: user.email, firstName: user.first_name, lastName: user.last_name}}, {prerender: true})
          .deliverable-agenda-item-title
            = '# ' + deliverable.agenda_item.title

%script{:type => "text/javascript"}
  :plain
    $('#deliverables-link').on(
        'click', function() {
          $('#conversation-column').removeClass('col-xs-12');
          $('#conversation-column').addClass('hidden-xs');
          $('#deliverable-column').addClass('col-xs-12');
          $('#deliverable-column').removeClass('hidden-xs');
    });
    $('#conversations-link').on(
        'click', function() {
          $('#deliverable-column').removeClass('col-xs-12');
          $('#deliverable-column').addClass('hidden-xs');
          $('#conversation-column').addClass('col-xs-12');
          $('#conversation-column').removeClass('hidden-xs');
    });

