%p
  %b Name:
  = @organization.name
%p
  %b Mission:
  = @organization.mission
%p
  %b Owner:
  = @organization.owner

%p
  = link_to 'Conversations', organization_conversations_path(@organization)

- if policy(@organization).edit?
  = link_to 'Edit', edit_organization_path(@organization)
\|
= link_to 'Back', organizations_path
